@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--font-sans: Inter, sans-serif;
	--font-mono: JetBrains Mono, monospace;
	--font-serif: Source Serif 4, serif;
	--radius: 0.375rem;
	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
	--tracking-normal: var(--tracking-normal);
	--shadow-2xl: var(--shadow-2xl);
	--shadow-xl: var(--shadow-xl);
	--shadow-lg: var(--shadow-lg);
	--shadow-md: var(--shadow-md);
	--shadow: var(--shadow);
	--shadow-sm: var(--shadow-sm);
	--shadow-xs: var(--shadow-xs);
	--shadow-2xs: var(--shadow-2xs);
	--spacing: var(--spacing);
	--letter-spacing: var(--letter-spacing);
	--shadow-offset-y: var(--shadow-offset-y);
	--shadow-offset-x: var(--shadow-offset-x);
	--shadow-spread: var(--shadow-spread);
	--shadow-blur: var(--shadow-blur);
	--shadow-opacity: var(--shadow-opacity);
	--color-shadow-color: var(--shadow-color);
	--color-destructive-foreground: var(--destructive-foreground);
}

:root {
	--radius: 0.375rem;
	--background: oklch(0.9761 0 0);
	--foreground: oklch(0.3211 0 0);
	--card: oklch(0.9612 0 0);
	--card-foreground: oklch(0.3211 0 0);
	--popover: oklch(0.9612 0 0);
	--popover-foreground: oklch(0.3211 0 0);
	--primary: oklch(0.7601 0.1383 239.1958);
	--primary-foreground: oklch(0.3211 0 0);
	--secondary: oklch(0.6368 0 0);
	--secondary-foreground: oklch(1.0 0 0);
	--muted: oklch(0.9067 0 0);
	--muted-foreground: oklch(0.551 0.0234 264.3637);
	--accent: oklch(0.6405 0.1245 227.6426);
	--accent-foreground: oklch(1.0 0 0);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--border: oklch(0.8699 0 0);
	--input: oklch(0.8699 0 0);
	--ring: oklch(0.7601 0.1383 239.1958);
	--chart-1: oklch(0.7601 0.1383 239.1958);
	--chart-2: oklch(0.6405 0.1245 227.6426);
	--chart-3: oklch(0.6368 0 0);
	--chart-4: oklch(0.6368 0 0);
	--chart-5: oklch(0.6368 0 0);
	--sidebar: oklch(0.9761 0 0);
	--sidebar-foreground: oklch(0.3211 0 0);
	--sidebar-primary: oklch(0.7601 0.1383 239.1958);
	--sidebar-primary-foreground: oklch(0.3211 0 0);
	--sidebar-accent: oklch(0.6405 0.1245 227.6426);
	--sidebar-accent-foreground: oklch(1.0 0 0);
	--sidebar-border: oklch(0.8699 0 0);
	--sidebar-ring: oklch(0.7601 0.1383 239.1958);
	--destructive-foreground: oklch(1.0 0 0);
	--font-sans: Inter, sans-serif;
	--font-serif: Source Serif 4, serif;
	--font-mono: JetBrains Mono, monospace;
	--shadow-color: #000000;
	--shadow-opacity: 0.05;
	--shadow-blur: 2px;
	--shadow-spread: 0px;
	--shadow-offset-x: 0;
	--shadow-offset-y: 1px;
	--letter-spacing: 0em;
	--spacing: 0.25rem;
	--shadow-2xs: 0 1px 2px 0px hsl(0 0% 0% / 0.03);
	--shadow-xs: 0 1px 2px 0px hsl(0 0% 0% / 0.03);
	--shadow-sm: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px
		hsl(0 0% 0% / 0.05);
	--shadow: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px
		hsl(0 0% 0% / 0.05);
	--shadow-md: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 2px 4px -1px
		hsl(0 0% 0% / 0.05);
	--shadow-lg: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 4px 6px -1px
		hsl(0 0% 0% / 0.05);
	--shadow-xl: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 8px 10px -1px
		hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0 1px 2px 0px hsl(0 0% 0% / 0.13);
	--tracking-normal: 0em;
}

.dark {
	--background: oklch(0.3052 0 0);
	--foreground: oklch(0.9219 0 0);
	--card: oklch(0.3677 0 0);
	--card-foreground: oklch(0.9219 0 0);
	--popover: oklch(0.3677 0 0);
	--popover-foreground: oklch(0.9219 0 0);
	--primary: oklch(0.7601 0.1383 239.1958);
	--primary-foreground: oklch(0.3211 0 0);
	--secondary: oklch(0.6368 0 0);
	--secondary-foreground: oklch(1.0 0 0);
	--muted: oklch(0.4855 0 0);
	--muted-foreground: oklch(0.7155 0 0);
	--accent: oklch(0.6405 0.1245 227.6426);
	--accent-foreground: oklch(1.0 0 0);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--border: oklch(0.4748 0 0);
	--input: oklch(0.4748 0 0);
	--ring: oklch(0.7601 0.1383 239.1958);
	--chart-1: oklch(0.7137 0.1434 254.624);
	--chart-2: oklch(0.7601 0.1383 239.1958);
	--chart-3: oklch(0.6405 0.1245 227.6426);
	--chart-4: oklch(0.6368 0 0);
	--chart-5: oklch(0.6368 0 0);
	--sidebar: oklch(0.3052 0 0);
	--sidebar-foreground: oklch(0.9219 0 0);
	--sidebar-primary: oklch(0.7601 0.1383 239.1958);
	--sidebar-primary-foreground: oklch(0.3211 0 0);
	--sidebar-accent: oklch(0.6405 0.1245 227.6426);
	--sidebar-accent-foreground: oklch(1.0 0 0);
	--sidebar-border: oklch(0.4748 0 0);
	--sidebar-ring: oklch(0.7601 0.1383 239.1958);
	--destructive-foreground: oklch(1.0 0 0);
	--radius: 0.375rem;
	--font-sans: Inter, sans-serif;
	--font-serif: Source Serif 4, serif;
	--font-mono: JetBrains Mono, monospace;
	--shadow-color: #000000;
	--shadow-opacity: 0.05;
	--shadow-blur: 2px;
	--shadow-spread: 0px;
	--shadow-offset-x: 0;
	--shadow-offset-y: 1px;
	--letter-spacing: 0em;
	--spacing: 0.25rem;
	--shadow-2xs: 0 1px 2px 0px hsl(0 0% 0% / 0.03);
	--shadow-xs: 0 1px 2px 0px hsl(0 0% 0% / 0.03);
	--shadow-sm: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px
		hsl(0 0% 0% / 0.05);
	--shadow: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 1px 2px -1px
		hsl(0 0% 0% / 0.05);
	--shadow-md: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 2px 4px -1px
		hsl(0 0% 0% / 0.05);
	--shadow-lg: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 4px 6px -1px
		hsl(0 0% 0% / 0.05);
	--shadow-xl: 0 1px 2px 0px hsl(0 0% 0% / 0.05), 0 8px 10px -1px
		hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0 1px 2px 0px hsl(0 0% 0% / 0.13);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		letter-spacing: var(--tracking-normal);
	}
}

@layer utilities {
	.animate-slide-in {
		animation: slideIn 0.3s ease-out;
	}

	.animate-bounce {
		animation: bounce 0.5s ease-in-out;
	}

	.animate-spin {
		animation: spin 0.5s ease-in-out;
	}

	@keyframes slideIn {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes bounce {
		0%,
		20%,
		53%,
		80%,
		100% {
			transform: translate3d(0, 0, 0);
		}
		40%,
		43% {
			transform: translate3d(0, -10px, 0);
		}
		70% {
			transform: translate3d(0, -5px, 0);
		}
		90% {
			transform: translate3d(0, -2px, 0);
		}
	}
}

body {
	background: radial-gradient(circle, #ffffff 20%, #87ceeb 100%);
	margin: 0;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.screen::before {
	background: transparent radial-gradient(circle, #ffffff 30%, #b8d4f0 100%)
		repeat scroll 0 0;
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 100%;
	height: 100%;
	z-index: -1;
}

.scanlines .overlay {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.scanlines .overlay::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/crt.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: "";
}
.scanlines .overlay::before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: " ";
	background: linear-gradient(
			rgba(255, 255, 255, 0) 50%,
			rgba(135, 206, 235, 0.1) 50%
		),
		linear-gradient(
			90deg,
			rgba(135, 206, 250, 0.03),
			rgba(255, 255, 255, 0.01),
			rgba(176, 224, 230, 0.03)
		);
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}

.picture {
	height: 100vh;
	overflow: hidden;
	width: 100vw;
	z-index: -1;
	transform: scale(0, 0);
	background: transparent radial-gradient(circle, #ffffff 25%, #b8d4f0 100%)
		repeat scroll 0 0;
}

.on .picture {
	animation: 3000ms linear 0ms normal forwards 1 running on;
}

.off .picture {
	animation: 750ms cubic-bezier(0.23, 1, 0.32, 1) 0ms normal forwards 1 running
		off;
}

@keyframes on {
	0% {
		transform: scale(1, 0.8) translate3d(0, 0, 0);
		filter: brightness(4);
		opacity: 1;
	}
	3.5% {
		transform: scale(1, 0.8) translate3d(0, 100%, 0);
	}
	3.6% {
		transform: scale(1, 0.8) translate3d(0, -100%, 0);
		opacity: 1;
	}
	9% {
		transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
		filter: brightness(4);
		opacity: 0;
	}
	11% {
		transform: scale(1, 1) translate3d(0, 0, 0);
		filter: contrast(0) brightness(0);
		opacity: 0;
	}
	100% {
		transform: scale(1, 1) translate3d(0, 0, 0);
		filter: contrast(1) brightness(1.2) saturate(1.3);
		opacity: 1;
	}
}
@keyframes off {
	0% {
		transform: scale(1, 1);
		filter: brightness(1);
	}
	40% {
		transform: scale(1, 0.005);
		filter: brightness(100);
	}
	70% {
		transform: scale(1, 0.005);
	}
	90% {
		transform: scale(0.005, 0.005);
	}
	100% {
		transform: scale(0, 0);
	}
}
@keyframes blur {
	0% {
		filter: blur(1px);
		opacity: 0.8;
	}
	50% {
		filter: blur(1px);
		opacity: 1;
	}
	100% {
		filter: blur(1px);
		opacity: 0.8;
	}
}
